<!--********** ABOUT SECTION **********-->
<div *ngIf="contentService.showAboutContent">
  <h2>ABOUT</h2>
</div>

<!--********** PROJECTS SECTION **********-->
<div *ngIf="contentService.showProjectsContent">
  <h2>PROJECTS</h2>
</div>

<!--********** CONTACT SECTION **********-->
<div *ngIf="contentService.showContactContent">
  <h2>CONTACT</h2>
  <div class="block">
    <img class="icon" src="../assets/images/address_icon.png"><br>
    Jan-Valkenburg-Str. 7<br>
    20355 Hamburg<br>
    Germany<br>
    <br><br>
    <img class="icon" src="../assets/images/phone_icon.png"><br>
    +49 175 4462749<br>
    <br><br>
    <img class="icon" src="../assets/images/email_icon.png"><br>
    <a href="#" (click)="triggerOutlook()">elisabeth.maria.strunk@gmail.com</a><br>
    <br><br>
    <img class="icon" src="../assets/images/linkedin_icon.png"><br>
    <a href="https://www.linkedin.com/in/elisabeth-strunk/" target="_blank">
      https://www.linkedin.com/in/elisabeth-strunk
    </a><br>
    <br><br>
    <img class="icon" src="../assets/images/github_icon.png"><br>
    <a href="https://github.com/ElisabethStrunk" target="_blank">
      https://github.com/ElisabethStrunk
    </a><br>
    <br><br>
    <img class="icon" src="../assets/images/web_icon.png"><br>
    <a href="http://elisabethstrunk.me" target="_blank">http://elisabethstrunk.me</a><br>

  </div>
</div>
