@import "./webfontkit/stylesheet.css";


@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/*Possible pre-built themes:
  deeppurple-amber.css
  indigo-pink.css
  pink-bluegrey.css
  purple-green.css
*/

* {
  font-family: 'montserratlight', sans-serif;
  font-weight: lighter;
}

h1 {
  font-family: bebas_neueregular, sans-serif;
  letter-spacing: .1em;
}

h2 {
  font-family: bebas_neueregular, sans-serif;
  letter-spacing: .1em;
}
